<nav class="black" style="text-align:center;">
     <b><a  href="#">Movies Collection</a></b>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/movies/0">Movies</a></li>
    </ul>
</nav>
