<div class="container" style="text-align:center">

<form method="GET" action="/sortFilter/0">
Language <input list="lang"  name="lang" placeholder="Language" >
Genre <input list="genre" name="genre" placeholder="Genre">
Sort <input list="sort" name="sortType" placeholder="Sorting">

<input type="submit" value="apply">

</form>
<datalist id="lang">
   <option value="English">
   <option value="Hindi">
   <option value="Konkani">
   <option value="Marathi">
</datalist>

<datalist id="genre">
   <option value="Action">
   <option value="Comedy">
   <option value="Drama">
   <option value="Thriller">
   <option value="Horror">
</datalist>

<datalist id="sort">
   <option value="Release Date">
   <option value="Movie Length">
</datalist>
</div>
